<!--
  Generated template for the ViewChapter component.

  See https://angular.io/docs/ts/latest/api/core/index/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->

<div *ngIf="chapterData != null">
  <ion-item>
    {{chapterData.timestampStr}}
  </ion-item>
  <ion-item *ngIf="chapterData.run != null">
    <img [src]="chapterData.run.staticMapUrl">
    {{chapterData.run.distanceStr}} miles
    
    <ion-item *ngIf="chapterData.run.displayPace">
      {{chapterData.run.paceReadable}} pace
    </ion-item>
    <ion-item *ngIf="chapterData.run.displayDuration">
      {{chapterData.run.durationReadable}} duration
    </ion-item>
  </ion-item>
  <ion-slides *ngIf="chapterData.photos != null">
    <ion-slide *ngFor="let item of chapterData.photos">
      <img [src]="item.pictureURL | cdvphotolibrary">
    </ion-slide>
  </ion-slides>
  <ion-item *ngIf="chapterData.textDescription != null">
    {{chapterData.textDescription}}
  </ion-item>
  <ion-item *ngIf="chapterData.expenses != null">
    {{chapterData.expenses}}
  </ion-item>
  <ion-item *ngIf="chapterData.emotion != null">
    {{chapterData.emotion}}
  </ion-item>
</div>