<!--
  Generated template for the ViewChapter component.

  See https://angular.io/docs/ts/latest/api/core/index/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->

<ion-card *ngIf="chapterData != null">
  <ion-toolbar>
    <ion-title left>{{chapterData.timestampStr}}</ion-title>
    <ion-buttons right>
      <button ion-button icon-only>
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
  <ion-slides *ngIf="chapterData.pictureURLs != null">
    <ion-slide *ngFor="let url of chapterData.pictureURLs">
      <img [src]="url | cdvphotolibrary">
    </ion-slide>
  </ion-slides>
  <ion-item>
    <div class="left">
      {{chapterData.title}}
    </div>
    <div class="right">
      {{chapterData.amountStr}}
    </div>
  </ion-item>
  <ion-item text-nowrap *ngIf="chapterData.textDescription != null">
    {{chapterData.textDescription}}
  </ion-item>
</ion-card>