<!--
  Generated template for the PhotoSelector component.

  See https://angular.io/docs/ts/latest/api/core/index/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->
<ion-list>
  <ion-item *ngFor="let item of allImages">
    <ion-thumbnail item-right>
      <!--This should supposedly be an ion-img. I couldn't get it to load... so hopefully this doesn't come back to bite me later.-->
      <img [src]="item.pictureURL | cdvphotolibrary">
    </ion-thumbnail>
    <ion-label>
      {{item.timestampStr}}
    </ion-label>
    <ion-checkbox [(ngModel)]="pictureIdsSelected[item.id]" (ionSelect)="selectedPicture(item.id)" [disabled]="photoDisabled(item.id)" name="pictureIdsSelected.pictures"></ion-checkbox>
  </ion-item>
</ion-list>